<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ 'label.animals_in_shelter' | trans({}, 'base') }}</span>
                <canvas id="animalChart" width="100" height="100"></canvas>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ 'label.posts' | trans({}, 'base') }}</span>
                <canvas id="postChart" width="100" height="100"></canvas>
            </div>
        </div>
    </div>
</div>