<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ 'title.newest_animals' | trans({}, 'base') }}</span>
                {% if latestAnimals is not empty %}
                    <ul class="collection">
                        {% for animal in latestAnimals %}
                            <li class="collection-item">{{ animal.name }} <span class="secondary-content">{{ animal.publishedAt | ago }}</span></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'label.no_animals_found' | trans({}, 'animal') }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ 'title.newest_posts' | trans({}, 'base') }}</span>
                {% if latestPosts is not empty %}
                    <ul class="collection">
                        {% for post in latestPosts %}
                            <li class="collection-item">
                                {{ post.title }} <br/>
                                <span class="blue-grey-text">{{ post.publishedAt | ago }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'label.no_posts' | trans({}, 'post') }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>