<div class="row">
    <div class="col s12 m6 l3">
        <div class="card valign-wrapper min-height-100 blue white-text">
            <div class="col s7">
                <i class="background-circle material-icons blue-text text-lighten-2">pets</i>
            </div>
            <div class="col s5 right-align">
                <h4 class="no-margin">{{ count.animal }}</h4>
                <p class="no-margin">{{ 'label.animals' | trans({}, 'base') }}</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card valign-wrapper min-height-100 indigo white-text">
            <div class="col s7">
                <i class="background-circle material-icons padding indigo-text text-lighten-2">home</i>
            </div>
            <div class="col s5 right-align">
                <h4 class="no-margin">{{ count.shelter }}</h4>
                <p class="no-margin">{{ 'label.shelters' | trans({}, 'base') }}</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card valign-wrapper min-height-100 green white-text">
            <div class="col s7">
                <i class="background-circle material-icons padding green-text text-lighten-2">label</i>
            </div>
            <div class="col s5 right-align">
                <h4 class="no-margin">{{ count.animalType }}</h4>
                <p class="no-margin">{{ 'label.animal_type' | trans({}, 'base') }}</p>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card valign-wrapper min-height-100 red white-text">
            <div class="col s7">
                <i class="background-circle material-icons padding red-text text-lighten-2">description</i>
            </div>
            <div class="col s5 right-align">
                <h4 class="no-margin">{{ count.post }}</h4>
                <p class="no-margin">{{ 'label.posts' | trans({}, 'base') }}</p>
            </div>
        </div>
    </div>
</div>