{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'title.dashboard' | trans({}, 'base') }}{% endblock %}

{% block body %}
    {% include 'admin/dashboard/_summarycards.html.twig' %}

    {% include 'admin/dashboard/_chart.html.twig' %}

    {% include 'admin/dashboard/_latest_collection.html.twig' %}

    <style>
        .no-margin {
            margin: 0 !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        .medium.material-icons.padding {
            padding: 15px;
        }

        .min-height-100 {
            min-height: 100px;
        }

        .background-circle {
            background-color: rgba(0, 0, 0, 0.20);
            padding: 15px;
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        var postMonths = ({{ postHistory | json_encode | raw }}).map(value => value.month);
        var postData = ({{ postHistory | json_encode | raw }}).map(value => value.n);
        var postLabel = "# {{ 'label.posts' | trans({}, 'base') }}";
        var animalMonths =  ({{ animalHistory | json_encode | raw }}).map(value => value.month);;
        var animalData =  ({{ animalHistory | json_encode | raw }}).map(value => value.n);
        var animalLabel =  "# {{ 'label.animals' | trans({}, 'base') }}";
    </script>
    <script src="{{ asset('assets/js/Chart.min.js') }}"></script>
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}