{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
<div>
    <button type="submit" name="btn_login" class="btn waves-effect ">{{ 'profile.edit.submit'|trans }}</button>
</div>
{{ form_end(form) }}
