{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <div class="row">
                    <div class="col s12">
                        {% include "@FOSUser/Profile/show_content.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}