{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="row">
        <div class="col s12">
            <span class="error"></span>{{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    </div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="username" name="_username" class="validate">
            <label for="username">{{ 'security.login.username'|trans }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="password" id="password" name="_password" class="validate">
            <label for="password">{{ 'security.login.password'|trans }}</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <label>
                <input type="checkbox" class="filled-in" checked="checked" name="_remember_me"/>
                <span>{{ 'security.login.remember_me'|trans }}</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button type="submit" name="btn_login"
                    class="btn waves-effect col s12">{{ 'security.login.submit'|trans }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <a href="{{ path('fos_user_registration_register') }}">{{ 'security.register'|trans({},'base') }}</a>
        </div>
        <div class="col s6 right-align">
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.forgotpassword'|trans({},'base') }}</a>
        </div>
    </div>
</form>
