body#home {
  .image-wrapper {
    min-height: 300px;
    //background: url('./../img/bg_login.jpg') no-repeat center center fixed;
    background: url('https://images.pexels.com/photos/7720/night-animal-dog-pet.jpg?w=1260&h=750&auto=compress&cs=tinysrgb') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .search-wrapper {
    .row {
      margin-bottom: 0 !important;
    }
  }
}