html#login {
  height: 100%;
  margin: 0;
  body, .login-box {
    height: 100%;
    margin: 0;
  }
  body {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)),
    url("./../img/bg_login.jpg") no-repeat center / cover fixed;
  }
}

@media #{$small-and-down} {
  body {
    background-image: none;
  }
  .login-box {
    height: auto;
    > div {
      box-shadow: none;
    }
  }
}
