header, main, footer {
  &#admin {
    padding-left: 300px;
  }
}

body {
  background: #FAFAFA;
}

.user-view {
  > div.background {
    background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    &#admin {
      padding-left: 0;
    }
  }
}