{{ form_start(form) }}
<div class="row">
    <div class="col s12">
        <h5 class="header">{{ 'title.general_info'|trans({}, 'post') }}</h5>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.title, {'attr': {'class': form_errors(form.title) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.title) }}
        <span class="helper-text" data-error="{{ form_errors(form.title) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.text, {'attr': {'class': form_errors(form.text) == '' ? 'materialize-textarea' : 'materialize-textarea invalid'}}) }}
        {{ form_label(form.text) }}
        <span class="helper-text" data-error="{{ form_errors(form.text) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.tags) }}
        {{ form_widget(form.tags) }}
        {{ form_label(form.tags) }}
    </div>
</div>

<div class="row">
    <div class="col s12">
        <span class="card-title">{{ 'label.publication_date' | trans({}, 'post') }}</span>
        <div class="row">
            <div class="input-field col s12 m2">
                {{ form_widget(form.publishedAt.date.year, {'attr': {'class': form_errors(form.publishedAt.date.year) == '' ? '' : 'invalid'}}) }}
                {{ form_label(form.publishedAt.date.year) }}
                <span class="helper-text" data-error="{{ form_errors(form.publishedAt.date.year) }}"></span>
            </div>
            <div class="input-field col s12 m4">
                {{ form_widget(form.publishedAt.date.month, {'attr': {'class': form_errors(form.publishedAt.date.month) == '' ? '' : 'invalid'}}) }}
                {{ form_label(form.publishedAt.date.month) }}
                <span class="helper-text" data-error="{{ form_errors(form.publishedAt.date.year) }}"></span>
            </div>
            <div class="input-field col s12 m2">
                {{ form_widget(form.publishedAt.date.day, {'attr': {'class': form_errors(form.publishedAt.date.day) == '' ? '' : 'invalid'}}) }}
                {{ form_label(form.publishedAt.date.day) }}
                <span class="helper-text" data-error="{{ form_errors(form.publishedAt.date.day) }}"></span>
            </div>
            <div class="input-field col s6 m2">
                {{ form_widget(form.publishedAt.time.hour) }}
                {{ form_label(form.publishedAt.time.hour) }}
            </div>
            <div class="input-field col s6 m2">
                {{ form_widget(form.publishedAt.time.minute) }}
                {{ form_label(form.publishedAt.time.minute) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <button class="btn waves-effect waves-light green full-width" type="submit"
                name="action">{{ button_label|default('action.create'|trans({}, 'base')) }}
        </button>
    </div>
    <div class="col s12 m6">
        <a href="{{ path('admin_post_index') }}"
           class="btn full-width">{{ 'action.back_to_list'|trans({}, 'base') }}</a>
    </div>
</div>
{{ form_end(form) }}