{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'title.edit'|trans({}, 'post') }}{% endblock %}

{% block body %}
    {{ include('admin/post/_delete_post_confirmation.html.twig') }}

    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.edit'|trans({},'post') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% include 'admin/post/_form.html.twig' with { 'button_label' : 'action.save_changes'|trans({}, 'base')} %}
                    <div class="right-align">
                        {% include 'admin/post/_delete_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'admin/_toast.html.twig' %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
