{% extends 'admin/layout.html.twig' %}

{% block title %}
    {{ 'title.index'|trans({}, 'post') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.posts'|trans({},'base') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {{ form_start(searchForm) }}
            {{ form_errors(searchForm.search) }}
            {{ form_widget(searchForm.search, {'value' : app.request.query.get('search')}) }}
            {{ form_end(searchForm) }}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {# total items count #}
            <div class="grey-text">
                {{ 'label.results'|transchoice(posts.getTotalItemCount, {'%count%': posts.getTotalItemCount}, 'base') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                <tr>
                    <th>{{ 'label.id'|trans({}, 'base') }}</th>
                    <th>{{ 'label.title'|trans({}, 'post') }}</th>
                    <th>{{ 'label.updated_at'|trans({}, 'base') }}</th>
                    <th>{{ 'label.actions'|trans({}, 'base') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td><a href="{{ path('admin_post_show', { 'slug': post.slug }) }}">{{ post.id }}</a></td>
                        <td>{{ post.title }}</td>
                        <td>{% if post.updatedAt %}{{ post.updatedAt|ago }}{% endif %}</td>
                        <td>
                            <a href="{{ path('admin_post_show', { 'slug': post.slug }) }}">
                                <i class="material-icons">remove_red_eye</i>
                            </a>
                            {% if post.deletedAt is empty %}
                            <a href="{{ path('admin_post_edit', { 'slug': post.slug }) }}">
                                <i class="material-icons">edit</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="{{ path('admin_post_new') }}" class="waves-effect waves-light btn right">
                {{ 'label.new'|trans({}, 'post') }}
            </a>
        </div>
    </div>

    {# pagination #}
    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                {{ knp_pagination_render(posts) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'admin/_toast.html.twig' %}
{% endblock %}
