{% extends 'admin/layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    {{ include('admin/post/_delete_post_confirmation.html.twig') }}

    <h1>Post</h1>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <table>
                                <tbody>
                                <tr>
                                    <th>{{ 'label.id' | trans({}, 'base') }}</th>
                                    <td>{{ post.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.title' | trans({}, 'post') }}</th>
                                    <td>{{ post.title }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.text' | trans({}, 'post') }}</th>
                                    <td>{{ post.text }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.published_at' | trans({}, 'post') }}</th>
                                    <td>{% if post.publishedAt %}{{ post.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.created_at' | trans({}, 'base') }}</th>
                                    <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.updated_at' | trans({}, 'base') }}</th>
                                    <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.deleted_at' | trans({}, 'base') }}</th>
                                    <td>{% if post.deletedAt %}{{ post.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            {% if(post.deletedAt is empty) %}
                            <a href="{{ path('admin_post_edit', {'slug': post.slug }) }}"
                               class="btn waves-effect waves-light green full-width">{{ button_label|default('action.edit'|trans({}, 'base')) }}</a>
                            {% endif %}
                        </div>
                        <div class="col s12 m6">
                            <a href="{{ path('admin_post_index') }}"
                               class="btn full-width">{{ 'action.back_to_list'|trans({}, 'base') }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="right-align">
                                {% if(post.deletedAt is empty) %}
                                    {% include ':admin/post:_delete_form.html.twig' %}
                                {% else %}
                                    {{ form_start(restore_form) }}
                                    <button class="btn waves-effect waves-light green" type="submit"
                                            name="action">{{ 'action.restore'|trans({}, 'base') }}
                                    </button>
                                    {{ form_end(restore_form) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'admin/_toast.html.twig' %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
