{{ form_start(delete_form, {'attr': {'id': 'delete-form'}}) }}
<div class="row">
    <div class="col s6 offset-s6">
        <button class="btn waves-effect waves-light red" type="submit"
                name="action">{{ 'action.delete'|trans({}, 'base') }}
        </button>
    </div>
</div>
{{ form_end(delete_form) }}