{{ form_start(form) }}
<div class="row">
    <div class="col s12">
        <span class="card-title">{{ 'label.general_info'|trans({}, 'animal') }}</span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.name, {'attr': {'class': form_errors(form.name) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.name) }}
        <span class="helper-text" data-error="{{ form_errors(form.name) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
        {{ form_widget(form.animalBreed, {'attr': {'class': form_errors(form.animalBreed) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.animalBreed) }}
        <span class="helper-text" data-error="{{ form_errors(form.animalBreed) }}"></span>
    </div>
    <div class="input-field col s12 m6">
        {{ form_widget(form.animalType, {'attr': {'class': form_errors(form.animalType) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.animalType) }}
        <span class="helper-text" data-error="{{ form_errors(form.animalType) }}"></span>

    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.sex, {'attr': {'class': form_errors(form.sex) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.sex) }}
        <span class="helper-text" data-error="{{ form_errors(form.sex) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.birthdate, {'attr': {'class': form_errors(form.birthdate) == '' ? 'datepicker' : 'datepicker invalid'}}) }}
        {{ form_label(form.birthdate) }}
        <span class="helper-text" data-error="{{ form_errors(form.birthdate) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
        {{ form_widget(form.weight, {'attr': {'class': form_errors(form.weight) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.weight) }}
        <span class="helper-text" data-error="{{ form_errors(form.weight) }}"></span>
    </div>
    <div class="input-field col s12 m6">
        {{ form_widget(form.size, {'attr': {'class': form_errors(form.size) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.size) }}
        <span class="helper-text" data-error="{{ form_errors(form.size) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
        <span class="card-title">{{ 'label.compatible_with' | trans({}, 'animal') }}</span>
        <p>
            <label>
                {{ form_widget(form.youngChildren, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.young_children' | trans({}, 'animal') }}</span>
            </label>
        </p>
        <p>
            <label>
                {{ form_widget(form.children, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.children' | trans({}, 'animal') }}</span>
            </label>
        </p>
        <p>
            <label>
                {{ form_widget(form.dogs, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.dogs' | trans({}, 'animal') }}</span>
            </label>
        </p>
        <p>
            <label>
                {{ form_widget(form.cats, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.cats' | trans({}, 'animal') }}</span>
            </label>
        </p>
    </div>
    <div class="input-field col s12 m6">
        <span class="card-title">{{ 'label.medical_info' | trans({}, 'animal') }}</span>
        <p>
            <label>
                {{ form_widget(form.chipped, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.chipped' | trans({}, 'animal') }}</span>
            </label>
        </p>
        <p>
            <label>
                {{ form_widget(form.vaccinated, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.vaccinated' | trans({}, 'animal') }}</span>
            </label>
        </p>
        <p>
            <label>
                {{ form_widget(form.sterilized, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'label.sterilized' | trans({}, 'animal') }}</span>
            </label>
        </p>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.info, {'attr': {'class': form_errors(form.info) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.info) }}
        <span class="helper-text" data-error="{{ form_errors(form.info) }}"></span>
    </div>
</div>

<div class="row">
    <div class="file-field input-field">
        <div class="btn">
            <span>{{ 'label.image' | trans({}, 'animal') }}</span>
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <button class="btn waves-effect waves-light green full-width" type="submit"
                name="action">{{ button_label|default('action.create'|trans({}, 'base')) }}
        </button>
    </div>
    <div class="col s12 m6">
        <a href="{{ path('admin_animal_index') }}"
           class="btn full-width">{{ 'action.back_to_list'|trans({}, 'base') }}</a>
    </div>
</div>

{{ form_end(form) }}