{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'label.edit'|trans({}, 'animal') }}{% endblock %}

{% block body %}
    {{ include('admin/animal/_delete_animal_confirmation.html.twig') }}

    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.edit'|trans({},'animal') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% include 'admin/animal/_form.html.twig' %}
                    <div class="right-align">
                        {% include 'admin/post/_delete_form.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin.js') }}"></script>
    {% include 'admin/_toast.html.twig' %}


{% endblock %}