{% extends 'admin/layout.html.twig' %}

{% block title %}
    {{ 'title.index'|trans({}, 'animal') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.animals'|trans({},'base') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {# total items count #}
            <div class="grey-text">
                {{ 'label.results'|transchoice(animals.getTotalItemCount, {'%count%': animals.getTotalItemCount}, 'base') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                <tr>
                    <th>{{ 'label.id'|trans({}, 'base') }}</th>
                    <th>{{ 'label.name'|trans({}, 'animal') }}</th>
                    <th>{{ 'label.sex' | trans({}, 'animal') }}</th>
                    <th>{{ 'label.birthdate' | trans({}, 'animal') }}</th>
                    <th>{{ 'label.created_at'|trans({}, 'base') }}</th>
                    <th>{{ 'label.updated_at'|trans({}, 'base') }}</th>
                    <th>{{ 'label.actions'|trans({}, 'base') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for animal in animals %}
                    <tr>
                        <td><a href="{{ path('admin_animal_show', { 'id': animal.id }) }}">{{ animal.id }}</a></td>
                        <td>{{ animal.name }}</td>
                        <td>{{ animal.sex }}</td>
                        <td>{% if animal.birthdate %}{{ animal.birthdate|date('d-m-Y') }}{% endif %}</td>
                        <td title="{{ animal.createdAt ? animal.createdAt|date('d-m-Y H:i:s'):'' }}">
                            {% if animal.createdAt %}{{ animal.createdAt|ago }}{% endif %}
                        </td>
                        <td title="{{ animal.updatedAt ? animal.updatedAt|date('d-m-Y H:i:s'):'' }}">
                            {% if animal.updatedAt %}{{ animal.updatedAt|ago }}{% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_animal_show', { 'id': animal.id }) }}">
                                <i class="material-icons">remove_red_eye</i>
                            </a>
                            {% if animal.deletedAt is empty %}
                            <a href="{{ path('admin_animal_edit', { 'id': animal.id }) }}">
                                <i class="material-icons">edit</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="{{ path('admin_animal_new') }}" class="waves-effect waves-light btn right">
                {{ 'label.new'|trans({}, 'animal') }}
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                {{ knp_pagination_render(animals) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'admin/_toast.html.twig' %}
{% endblock %}
