{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'label.new'|trans({}, 'animal') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.new'|trans({},'animal') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% include 'admin/animal/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin.js') }}"></script>
{% endblock %}
