{% extends 'admin/layout.html.twig' %}

{% block title %}{{ animal.name }}{% endblock %}

{% block body %}
    {{ include('admin/animal/_delete_animal_confirmation.html.twig') }}

    <div class="row">
        <div class="col s12">
            <h1>{{ animal.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <table>
                                <tbody>
                                <tr>
                                    <th>{{ 'label.id' | trans({}, 'base') }}</th>
                                    <td>{{ animal.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.name' | trans({}, 'base') }}</th>
                                    <td>{{ animal.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.sex' | trans({}, 'animal') }}</th>
                                    <td>{{ animal.sex }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.birthdate' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.birthdate %}{{ animal.birthdate|date('Y-m-d') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.young_children' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.youngChildren %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.children' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.children %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.dogs' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.dogs %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.cats' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.cats %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.info' | trans({}, 'animal') }}</th>
                                    <td>{{ animal.info }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.chipped' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.chipped %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.vaccinated' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.vaccinated %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.sterilized' | trans({}, 'animal') }}</th>
                                    <td>{% if animal.sterilized %}Yes{% else %}No{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.weight' | trans({}, 'animal') }}</th>
                                    <td>{{ animal.weight }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.size' | trans({}, 'animal') }}</th>
                                    <td>{{ animal.size }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.image' | trans({}, 'animal') }}</th>
                                    <td><img class="responsive-img"
                                             src="{{ asset('uploads/images/' ~ animal.image) }}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.created_at' | trans({}, 'base') }}</th>
                                    <td>{% if animal.createdAt %}{{ animal.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.updated_at' | trans({}, 'base') }}</th>
                                    <td>{% if animal.updatedAt %}{{ animal.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.deleted_at' | trans({}, 'base') }}</th>
                                    <td>{% if animal.deletedAt %}{{ animal.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            {% if(animal.deletedAt is empty) %}
                                <a href="{{ path('admin_animal_edit', {'id': animal.id }) }}"
                                   class="btn waves-effect waves-light green full-width">{{ button_label|default('action.edit'|trans({}, 'base')) }}</a>
                            {% endif %}
                        </div>
                        <div class="col s12 m6">
                            <a href="{{ path('admin_animal_index') }}"
                               class="btn full-width">{{ 'action.back_to_list'|trans({}, 'base') }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="right-align">
                                {% if(animal.deletedAt is empty) %}
                                    {% include ':admin/animal:_delete_form.html.twig' %}
                                {% else %}
                                    {{ form_start(restore_form) }}
                                    <button class="btn waves-effect waves-light green" type="submit"
                                            name="action">{{ 'action.restore'|trans({}, 'base') }}
                                    </button>
                                    {{ form_end(restore_form) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/modal.js') }}"></script>
    {% include 'admin/_toast.html.twig' %}
{% endblock %}
