<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %} | {{ project_name }}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}" media="screen,projection"/>
    {% block stylesheets %}{% endblock %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

{% block header %}
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="{{ path('app_home_index') }}" class="brand-logo">{{ project_name }}</a>
                <a href="#" data-target="mobile-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!--<li><a href="#">{{ 'label.match' | trans({}, 'base') }}</a></li>-->
                    <li><a href="{{ path('app_animal_index') }}">{{ 'label.discover' | trans({}, 'base') }}</a></li>
                    <li><a href="{{ path('app_post_index') }}">{{ 'label.posts' | trans({}, 'base') }}</a></li>
                    <li><a href="{{ path('app_shelter_index') }}">{{ 'label.shelter' | trans({}, 'base') }}</a></li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'label.register_shelter' | trans({}, 'base') }}</a>
                    </li>
                </ul>
                <ul class="sidenav" id="mobile-sidenav">
                    <!--<li><a href="#">{{ 'label.match' | trans({}, 'base') }}</a></li>-->
                    <li><a href="{{ path('app_animal_index') }}">{{ 'label.discover' | trans({}, 'base') }}</a></li>
                    <li><a href="{{ path('app_post_index') }}">{{ 'label.posts' | trans({}, 'base') }}</a></li>
                    <li><a href="{{ path('app_shelter_index') }}">{{ 'label.shelter' | trans({}, 'base') }}</a></li>
                    <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'label.register_shelter' | trans({}, 'base') }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">{{ 'title.about' | trans({}, 'base') }}</h5>
                    <p class="grey-text text-lighten-4">{{ 'text.about_project' | trans({}, 'base') }}</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                {% set startYear = 2017 %}
                {% set currentYear = "now"|date('Y') %}

                {% if startYear == currentYear %}
                    {% set copyrightYears = startYear %}
                {% else %}
                    {% set copyrightYears = startYear ~ ' - ' ~ currentYear %}
                {% endif %}

                © {{ copyrightYears }} Matthias Seghers
            </div>
        </div>
    </footer>
{% endblock %}

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript"
        src="{{ asset('js/materialize.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>