{% extends "::base.html.twig" %}

{% block title %}{{ project_name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h3>{{ 'label.posts' | trans({}, 'base') }}</h3>
        </div>
    </div>

    <div class="row">
        <form action="{{ path('app_post_index') }}" method="get" class="col s12" id="search">
            <div class="row">
                <div class="input-field col s12">
                    <input name="q" type="text" id="autocomplete-input" class="autocomplete" autocomplete="off"
                           value="{{ app.request.query.get('q') }}">
                    <label for="autocomplete-input">{{ 'label.search'| trans({}, 'base') }}</label>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        {# MAIN CONTENT #}
        <div class="col s12 m8">
            <div class="row">
                {% for post in posts %}
                    <div class="col s12 m12 l6">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ asset('img/bg_login.jpg') }}"/>
                                <span class="card-title">
                                    {{ post.title }}
                                </span>
                            </div>
                            <div class="card-content">
                                <p class="grey-text">{{ post.user.username }} |
                                    {% if (post.publishedAt | date('Y')) < ("now"|date('Y')) %}
                                        {{ post.publishedAt | date('M d Y, H:m') }}
                                    {% else %}
                                        {{ post.publishedAt | date('M d, H:m') }}
                                    {% endif %}</p>
                                <p class="">{{ post.text|truncate(130, true)|raw }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('app_post_show', {'slug': post.slug}) }}">{{ 'label.readmore' | trans({}, 'base') }}</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col s12">
                        {{ 'post.no_posts_found'|trans({}, 'post') }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col s12 center">
                    <ul class="pagination">
                        {{ knp_pagination_render(posts) }}
                    </ul>
                </div>
            </div>
        </div>
        {# SIDEBAR #}
        <div class="col hide-on-small-and-down m4">
            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        {{ 'label.popular_tags' | trans({}, 'post') }}
                        {{ render(controller(
                        'AppBundle:Post:popularTags',
                        { 'max': 3 }
                        )) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var autocompletePath = "{{ path('app_post_autocomplete') }}?q="
    </script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
