{% extends "::base.html.twig" %}

{% block title %}{{ post.title }} | {{ project_name }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h3>{{ post.title }}</h3>
        </div>
    </div>

    <div class="row">
        {# Main Content #}
        <div class="col s8">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <span class="card-title">{{ post.title }}</span>
                                    <span class="grey-text">
                                        {{ post.user.username }}<br/>
                                        {{ post.publishedAt | ago }}
                                    </span>
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    {% for tag in post.tags %}
                                        <a href="{{ path('app_post_tagged', {'tag': tag.name }) }}">
                                            <div class="chip">
                                                {{ tag.name }}
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        {# SIDEBAR #}
        <div class="col s4">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">{{ 'label.popular_tags' | trans({}, 'post') }}</span>
                            {{ render(controller(
                            'AppBundle:Post:popularTags',
                            { 'max': 3 }
                            )) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/disqus.js') }}"></script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
    <script id="dsq-count-scr" src="//2ehonds.disqus.com/count.js" async></script>
{% endblock %}