{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}

<div class="row">
    <div class="input-field col s12 m6">
        {{ form_errors(form.firstName) }}
        {{ form_widget(form.firstName) }}
        {{ form_label(form.firstName) }}
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName) }}
        {{ form_label(form.lastName) }}
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_label(form.username) }}
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_label(form.email) }}
    </div>
</div>
{% for passwordField in form.plainPassword %}
    <div class="row">
        <div class="input-field col s12">
            {{ form_widget(passwordField, { 'attr': {'class': 'form-input'} }) }}
            {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
        </div>
    </div>
{% endfor %}
<span class="card-title">{{ 'label.shelter' | trans({}, 'base') }}</span>
<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.shelter.name) }}
        {{ form_widget(form.shelter.name) }}
        {{ form_label(form.shelter.name) }}
    </div>
    <div class="input-field col s12">
        {{ form_errors(form.shelter.description) }}
        {{ form_widget(form.shelter.description) }}
        {{ form_label(form.shelter.description) }}
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.shelter.location.address) }}
        {{ form_widget(form.shelter.location.address, {'id': 'autocomplete'}) }}
        {{ form_label(form.shelter.location.address) }}
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.shelter.location.postalCode) }}
        {{ form_widget(form.shelter.location.postalCode, {'id': 'postal_code'}) }}
        {{ form_label(form.shelter.location.postalCode) }}
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.shelter.location.city) }}
        {{ form_widget(form.shelter.location.city, {'id': 'locality'}) }}
        {{ form_label(form.shelter.location.city) }}
    </div>
    <div class="input-field col s12">
        {{ form_errors(form.shelter.location.street) }}
        {{ form_widget(form.shelter.location.street, {'id': 'route'}) }}
        {{ form_label(form.shelter.location.street) }}
    </div>
    <div class="input-field col s12">
        {{ form_errors(form.shelter.location.province) }}
        {{ form_widget(form.shelter.location.province, {'id': 'administrative_area_level_2'}) }}
        {{ form_label(form.shelter.location.province) }}
    </div>
    <div class="input-field col s12">
        {{ form_errors(form.shelter.location.country) }}
        {{ form_widget(form.shelter.location.country, {'id': 'country'}) }}
        {{ form_label(form.shelter.location.country) }}
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.shelter.location.lat) }}
        {{ form_widget(form.shelter.location.lat, {'id': 'lat'}) }}
        {{ form_label(form.shelter.location.lat) }}
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.shelter.location.lon) }}
        {{ form_widget(form.shelter.location.lon, {'id': 'lng'}) }}
        {{ form_label(form.shelter.location.lon) }}
    </div>
</div>
<div class="row">
    <div class="col s12 right-align">
        <button class="btn waves-effect waves-light" type="submit"
                name="action">{{ 'registration.submit'|trans }}
        </button>
    </div>
</div>

{{ form_end(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

{% block javascripts %}
    <script src="{{ asset('assets/js/maps.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdOYsbKnT-N0gTsNuaIA9MC69gchqoCY&libraries=places&callback=initAutocomplete"
            async defer></script>
{% endblock %}
