{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body_class %}blue{% endblock %}

{% block main %}
    <div class="valign-wrapper" style="width:100%;height:100%;position: absolute;">
        <div class="valign" style="width:100%;">
            <div class="container">
                <div class="row">
                    <div class="col s12 m6 offset-m3">
                        <h3 class="blue-text text-lighten-2">{{ status_code }}</h3>
                        <h4 class="white-text">
                            {{ status_text }}
                        </h4>
                        <div class="divider"></div>
                        <p class="white-text">
                            {{ 'text.error.general.action' | trans({}, 'base') }}
                        </p>
                        <a href="{{ path('app_home_index') }}" class="waves-effect waves-light btn cyan center-block">
                            {{ 'label.home' | trans({}, 'base') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}