<div id="confirmationModal" class="modal">
    <div class="modal-content">
        <h4>{{ 'delete_modal.title'|trans({}, 'shelter') }}</h4>
        <p>{{ 'delete_modal.text'|trans({}, 'shelter') }}</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" id="btnCancel">{{ 'label.cancel' | trans({}, 'base') }}</a>
        <a href="#!" class="modal-action modal-close waves-effect btn-flat" id="btnDelete">{{  'label.delete' | trans({}, 'base') }}</a>
    </div>
</div>