{{ form_start(form) }}
<div class="row">
    <div class="col s12">
        <span class="card-title">{{ 'title.general_info' | trans({}, 'shelter') }}</span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.name, {'attr': {'class': form_errors(form.name) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.name) }}
        <span class="helper-text" data-error="{{ form_errors(form.name) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_widget(form.description, {'attr': {'class': form_errors(form.description) == '' ? 'materialize-textarea' : 'materialize-textarea invalid'}}) }}
        {{ form_label(form.description) }}
        <span class="helper-text" data-error="{{ form_errors(form.description) }}"></span>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <span class="card-title">{{ 'title.location' | trans({}, 'shelter') }}</span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.location.address) }}
        {{ form_widget(form.location.address, {'id': 'autocomplete'}, {'attr': {'class': form_errors(form.location.address) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.address) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.address) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
        {{ form_errors(form.location.postalCode) }}
        {{ form_widget(form.location.postalCode, {'id': 'postal_code'}, {'attr': {'class': form_errors(form.location.postalCode) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.postalCode) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.postalCode) }}"></span>
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.location.city) }}
        {{ form_widget(form.location.city, {'id': 'locality'}, {'attr': {'class': form_errors(form.location.city) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.city) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.city) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.location.street) }}
        {{ form_widget(form.location.street, {'id': 'route'}, {'attr': {'class': form_errors(form.location.street) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.street) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.province) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.location.province) }}
        {{ form_widget(form.location.province, {'id': 'administrative_area_level_2'}, {'attr': {'class': form_errors(form.location.province) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.province) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.province) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12">
        {{ form_errors(form.location.country) }}
        {{ form_widget(form.location.country, {'id': 'country'}, {'attr': {'class': form_errors(form.location.country) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.country) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.country) }}"></span>
    </div>
</div>

<div class="row">
    <div class="input-field col s12 m6">
        {{ form_errors(form.location.lat) }}
        {{ form_widget(form.location.lat, {'id': 'lat'}, {'attr': {'class': form_errors(form.location.lat) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.lat) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.lat) }}"></span>
    </div>
    <div class="input-field col s12 m6">
        {{ form_errors(form.location.lon) }}
        {{ form_widget(form.location.lon, {'id': 'lng'}, {'attr': {'class': form_errors(form.location.lon) == '' ? '' : 'invalid'}}) }}
        {{ form_label(form.location.lon) }}
        <span class="helper-text" data-error="{{ form_errors(form.location.lon) }}"></span>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <span class="card-title">{{ 'title.opening_hours' | trans({}, 'shelter') }}</span>
    </div>
</div>

<div class="row">
    {% for day, set in form.openingHours %}
        <div class="col s12 m6">
            <div class="col s12"><p>{{ ('label.'~day)|trans({}, 'shelter') }}</p></div>
            <div class="col s12">
                <div class="input-field col s6">
                    {{ form_errors(set.hour) }}
                    {{ form_widget(set.hour) }}
                    {{ form_label(set.hour) }}
                </div>
                <div class="input-field col s6">
                    {{ form_errors(set.minute) }}
                    {{ form_widget(set.minute) }}
                    {{ form_label(set.minute) }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="row">
    <div class="col s12 m6">
        <button class="btn waves-effect waves-light green full-width" type="submit"
                name="action">{{ button_label|default('action.create'|trans({}, 'base')) }}
        </button>
    </div>
    <div class="col s12 m6">
        <a href="{{ path('admin_shelter_index') }}"
           class="btn full-width">{{ 'action.back_to_list'|trans({}, 'base') }}</a>
    </div>
</div>
{{ form_end(form) }}