{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'title.edit'|trans({}, 'shelter') }}{% endblock %}

{% block body %}
    {{ include('admin/shelter/_delete_shelter_confirmation.html.twig') }}

    <div class="row">
        <div class="col s12">
            <h1>{{ 'title.edit'|trans({},'shelter') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% include ':admin/shelter:_form.html.twig' with { 'button_label' : 'action.save_changes'|trans({}, 'base')} %}
                    <div class="right-align">
                        {% if(shelter.deletedAt is empty) %}
                            {% include ':admin/shelter:_delete_form.html.twig' %}
                        {% else %}
                            {{ form_start(restore_form) }}
                            <button class="btn waves-effect waves-light green" type="submit"
                                    name="action">{{ 'action.restore'|trans({}, 'base') }}
                            </button>
                            {{ form_end(restore_form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% include 'admin/_toast.html.twig' %}
    <script src="{{ asset('js/admin.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdOYsbKnT-N0gTsNuaIA9MC69gchqoCY&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script src="{{ asset('assets/js/maps.js') }}"></script>
{% endblock %}
