{% extends 'admin/layout.html.twig' %}

{% block title %}
    {{ 'title.index'|trans({}, 'shelter') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.shelters'|trans({},'base') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {{ form_start(searchForm) }}
            {{ form_errors(searchForm.search) }}
            {{ form_widget(searchForm.search, {'value' : app.request.query.get('search')}) }}
            {{ form_end(searchForm) }}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            {# total items count #}
            <div class="grey-text">
                {{ 'label.results'|transchoice(shelters.getTotalItemCount, {'%count%': shelters.getTotalItemCount}, 'base') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <table>
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(shelters, ('label.id'|trans({}, 'base')), 's.id') }}</th>
                    <th>{{ 'label.name'|trans({}, 'base') }}</th>
                    <th>{{ 'label.updated_at'|trans({}, 'base') }}</th>
                    <th>{{ 'label.actions'|trans({}, 'base') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for shelter in shelters %}
                    <tr>
                        <td><a href="{{ path('admin_shelter_show', { 'id': shelter.id }) }}">{{ shelter.id }}</a></td>
                        <td>{{ shelter.name }}</td>
                        <td>{% if shelter.updatedAt %}{{ shelter.updatedAt|ago }}{% endif %}</td>
                        <td>
                            <a href="{{ path('admin_shelter_show', { 'id': shelter.id }) }}">
                                <i class="material-icons">remove_red_eye</i>
                            </a>
                            {% if shelter.deletedAt is empty %}
                            <a href="{{ path('admin_shelter_edit', { 'id': shelter.id }) }}">
                                <i class="material-icons">edit</i>
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col s12">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin_shelter_new') }}" class="waves-effect waves-light btn right">
                    {{ 'label.new'|trans({}, 'shelter') }}
                </a>
            {% endif %}
        </div>
    </div>

    {# pagination #}
    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                {{ knp_pagination_render(shelters) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'admin/_toast.html.twig' %}
{% endblock %}
