{% extends 'admin/layout.html.twig' %}

{% block title %}{{ 'label.new'|trans({}, 'shelter') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h1>{{ 'label.add'|trans({},'shelter') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% include 'admin/shelter/_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/admin.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHdOYsbKnT-N0gTsNuaIA9MC69gchqoCY&libraries=places&callback=initAutocomplete"
            async defer></script>
    <script src="{{ asset('assets/js/maps.js') }}"></script>
{% endblock %}
