{% extends 'admin/layout.html.twig' %}

{% block title %}{{ shelter.name }}{% endblock %}

{% block body %}
    {{ include('admin/animal/_delete_animal_confirmation.html.twig') }}

    <h1>{{ 'label.shelter' | trans({}, 'base') }} {{ shelter.name }}</h1>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <table>
                                <tbody>
                                <tr>
                                    <th>{{ 'label.id'|trans({}, 'base') }}</th>
                                    <td>{{ shelter.id }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.name'|trans({}, 'base') }}</th>
                                    <td>{{ shelter.name }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.location'|trans({}, 'shelter') }}</th>
                                    <td>
                                        <div class="row">
                                            <div class="col s6">
                                                {{ shelter.location.address }} <br/>
                                                {{ shelter.location.street }} <br/>
                                                {{ shelter.location.postalCode }} {{ shelter.location.city }}<br/>
                                                {{ shelter.location.city }}
                                            </div>
                                            <div class="col s6">
                                                <div id="map"></div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.about'|trans({}, 'shelter') }}</th>
                                    <td>{{ shelter.description }}</td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.opening_hours'|trans({}, 'shelter') }}</th>
                                    <td>
                                        {% for day,set in shelter.openingHours %}
                                            <ul>
                                                {{ ('dow.' ~ day) | trans({}, 'shelter') }}
                                                {% if (set | length) %}
                                                    {% for hours in set %}
                                                        <li>{{ hours }}</li>
                                                    {% endfor %}
                                                {% else %}
                                                    <li>{{ 'label.closed' | trans({}, 'shelter') }}</li>
                                                {% endif %}
                                            </ul>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.created_at' | trans({}, 'base') }}</th>
                                    <td title="{{ shelter.createdAt ? shelter.createdAt|date('d-m-Y H:i:s'):'' }}">
                                        {% if shelter.createdAt %}{{ shelter.createdAt|ago }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.updated_at' | trans({}, 'base') }}</th>
                                    <td title="{{ shelter.updatedAt ? shelter.updatedAt|date('d-m-Y H:i:s'):'' }}">
                                        {% if shelter.updatedAt %}{{ shelter.updatedAt|ago }}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>{{ 'label.deleted_at' | trans({}, 'base') }}</th>
                                    <td title="{{ shelter.deletedAt ? shelter.deletedAt|date('d-m-Y H:i:s'):'' }}">
                                        {% if shelter.deletedAt %}{{ shelter.deletedAt|ago }}{% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            {% if(shelter.deletedAt is empty) %}
                            <a href="{{ path('admin_shelter_edit', {'id': shelter.id }) }}" class="btn waves-effect waves-light green full-width">{{ button_label|default('action.edit'|trans({}, 'base')) }}</a>
                            {% endif %}
                        </div>
                        <div class="col s12 m6">
                            <a href="{{ path('admin_shelter_index') }}"
                               class="btn full-width">{{ 'action.back_to_list'|trans({}, 'base') }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="right-align">
                                {% if(shelter.deletedAt is empty) %}
                                    {% include ':admin/shelter:_delete_form.html.twig' %}
                                {% else %}
                                    {{ form_start(restore_form) }}
                                    <button class="btn waves-effect waves-light green" type="submit"
                                            name="action">{{ 'action.restore'|trans({}, 'base') }}
                                    </button>
                                    {{ form_end(restore_form) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/admin.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ googleAPI }}&callback=initMap">
    </script>
    {% include 'admin/_toast.html.twig' %}
    <script>
        function initMap() {
            var loc = {lat: {{ shelter.location.lat }}, lng: {{ shelter.location.lon }}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: loc,
                draggable: false,
            });
            var marker = new google.maps.Marker({
                position: loc,
                map: map
            });
        }
    </script>
{% endblock %}
