<ul id="slide-out" class="sidenav sidenav-fixed collapsible collapsible-accordion">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ asset('img/sidebar_wallpaper.jpg') }}">
            </div>
            <a href="{{ path('fos_user_profile_show') }}">
                <span class="white-text name">{{ app.user.username }}</span>
                <span class="white-text email">{{ app.user.email }}</span>
            </a>
        </div>
    </li>
    <li><a href="{{ path('admin_homepage') }}" class="waves-effect"><i
                    class="material-icons">dashboard</i>{{ 'label.dashboard'|trans({},'base') }}</a></li>
    <li><a href="{{ path('admin_shelter_index') }}" class="waves-effect"><i
                    class="material-icons">home</i>{{ 'label.shelters'|trans({},'base') }}</a></li>
    <li>
        <a href="{{ path('admin_animal_index') }}" class="waves-effect">
            <i class="material-icons">pets</i>{{ 'label.animals'|trans({},'base') }}
        </a>
    </li>
    <li>
        <a href="{{ path('admin_post_index') }}" class="waves-effect">
            <i class="material-icons">insert_drive_file</i>{{ 'label.posts'|trans({},'base') }}
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a href="{{ path('fos_user_security_logout') }}" class="waves-effect">
            <i class="material-icons">exit_to_app</i>{{ 'label.logout'|trans({},'base') }}
        </a>
    </li>
</ul>
