{% extends 'base.html.twig' %}

{% block header %}
    <header id="admin">
        <nav class="top-nav">
            <div class="nav-wrapper container">
                <a href="#" data-target="slide-out" class="button-collapse sidenav-trigger hide-on-large-only"><i
                            class="material-icons">menu</i></a>
                <a href="{{ path('admin_homepage') }}" class="brand-logo">{{ project_name }}</a>
            </div>
        </nav>
        {% include 'admin/_sidenav.html.twig' %}
    </header>
{% endblock %}

{% block main %}
    <main id="admin">
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>
{% endblock %}
{% block footer %}
    <footer id="admin"></footer>
{% endblock %}

{% block javascripts %}
{% endblock %}