{% extends "::base.html.twig" %}

{% block title %}{{ project_name }} - {{ 'label.shelters' | trans({}, 'base') }}{% endblock %}

{% block body %}
    <div class="row">
        {# shelter search form #}
        <form class="col s12" method="get">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Gent" id="autocomplete" type="text" class="validate">
                    <label for="location">{{ 'label.location' | trans({}, 'shelter') }}</label>
                    <input name="lat" id="lat" type="hidden">
                    <input name="lon" id="lng" type="hidden">
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            {# total items count #}
            <div class="grey-text">
                {{ 'label.results'|transchoice(shelters.getTotalItemCount, {'%count%': shelters.getTotalItemCount}, 'base') }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8">
            <ul class="collection">
                {% for shelter in shelters %}
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">home</i>
                        <span class="title">{{ shelter.name }}</span>
                        <p>
                            {{ shelter.location.address }}
                        </p>
                        <p class="grey-text">
                            <!-- TODO: distance twig extension -->
                            {#{% if(shelter['distance'] > 1) %}
                                {{ shelter['distance'] | round(2, 'floor') }} {{ 'label.kilometer' | trans({}, 'shelter') }}
                            {% else %}
                                {{ (shelter['distance'] * 100) | round(0, 'floor') }} {{ 'label.meter' | trans({}, 'shelter') }}
                            {% endif %}#}
                        </p>
                        <a href="{{ path('app_shelter_show', { 'id': shelter.id }) }}" class="secondary-content">
                            <i class="material-icons">open_in_new</i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m4">
            <div id="map"></div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="pagination">
                {{ knp_pagination_render(shelters) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var map, infoWindow;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0},
                zoom: 12,
                draggable: true
            });
            infoWindow = new google.maps.InfoWindow;

            {% for shelter in shelters %}
            marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ shelter.location.lat | json_encode | raw }}, {{ shelter.location.lon | json_encode | raw }}),
                map: map
            });
            map.setCenter(marker.getPosition());
            {% endfor %}

        }
    </script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ googleAPI }}&libraries=places&callback=initShelterFront"
            async defer>
    </script>
    <script>
        function initShelterFront() {
            initAutocomplete();
            initMap();
        }
    </script>
    <script src="{{ asset('assets/js/maps.js') }}"></script>
{% endblock %}
