{% extends "::base.html.twig" %}

{% block title %}
    {{ project_name }} | {{ 'label.shelter' | trans({}, 'base') }} {{ shelter.name }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h3>{{ shelter.name }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="card-title">{{ 'label.about'|trans({}, 'shelter') }}</h4>
                            <p>{{ shelter.description }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6">
                            <h4 class="card-title">{{ 'label.opening_hours'|trans({}, 'shelter') }}</h4>
                            {% for day,set in shelter.openingHours %}
                                <ul>
                                    {{ ('dow.' ~ day) | trans({}, 'shelter') }}
                                    {% if (set | length) %}
                                        {% for hours in set %}
                                            <li>{{ hours }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li>{{ 'label.closed' | trans({}, 'shelter') }}</li>
                                    {% endif %}
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="col s12 m6">
                            <h4 class="card-title">{{ 'label.location'|trans({}, 'shelter') }}</h4>
                            {{ shelter.location.address }} <br/>
                            {{ shelter.location.street }} <br/>
                            {{ shelter.location.postalCode }} {{ shelter.location.city }}<br/>
                            {{ shelter.location.city }}
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ googleAPI }}&callback=initMap">
        </script>
        <script>
            function initMap() {
                var loc = {lat: {{ shelter.location.lat }}, lng: {{ shelter.location.lon }}};
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: loc,
                    draggable: false,
                });
                var marker = new google.maps.Marker({
                    position: loc,
                    map: map
                });
            }
        </script>
    {% endblock %}
