{% if pageCount > 1 %}
    <div class="pagination">
        <ul>
            {% if previous is defined %}
                <li class="waves-effect">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="material-icons">chevron_left</i></a>
                </li>
            {% else %}
                <li class="disabled">
                    <a><i class="material-icons">chevron_left</i></a>
                </li>
            {% endif %}

            {% if startPage > 1 %}
                <li class="waves-effect">
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        &hellip;
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="waves-effect">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <a>{{ page }}</a>
                    </li>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li>
                            <a>&hellip;</a>
                        </li>
                    {% else %}
                        <li class="waves-effect">
                            <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="waves-effect">
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li class="waves-effect">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="material-icons">chevron_right</i></a>
                </li>
            {% else %}
                <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}
