{% extends 'base.html.twig' %}

{% block body_id %}home{% endblock %}
{% block main %}
    <main>
        <div class="valign-wrapper image-wrapper grey lighten-3">
            <div class="container search-wrapper">
                <div class="row">
                    <div class="col s12">
                        <div class="row card-panel">
                            <h5>{{ 'text.adopt_one_of_the_animals'|transchoice(nAnimals, {}, 'base') }}</h5>
                            <form class="col s12" action="{{ path('app_animal_index') }}" method="get">
                                <div class="row">
                                    <div class="input-field col s10">
                                        <select name="search_animal[animalType]" required>
                                            <option value="" disabled
                                                    selected>{{ 'label.select_animal' | trans({}, 'base') }}</option>
                                            {% for animalType in animalTypes %}
                                                <option value="{{ animalType.id }}">{{ animalType.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="input-field col s2">
                                        <button class="btn waves-effect waves-light col s12"
                                                type="submit">{{ 'action.search'|trans({}, 'base') }}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5>{{ 'text.meet_some_animals' | trans({}, 'base') }}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        {% for animal in randomAnimals %}
                            <div class="col s12 m4">
                                <div class="card medium">
                                    <div class="card-image">
                                        <img src="{{ asset('uploads/images/' ~ animal.image) }}">
                                        <span class="card-title">{{ animal.name }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p>{{ animal.info|truncate(130, true)|raw }}</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="{{ path('app_animal_show', { 'id': animal.id }) }}">{{ 'label.details' | trans({}, 'base') }}</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col s12">
                                {{ 'text.no_results' | trans({}, 'animal') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% if(randomShelters is defined) %}
                <div class="row">
                    <div class="col s12">
                        <h5>{{ 'text.visit_shelter' | trans({}, 'base') }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="row">
                            {% for shelter in randomShelters %}
                                <div class="col s12 m4">
                                    <div class="card">
                                        <div class="card-content">
                                            <span class="card-title">{{ shelter.name }}</span>
                                            <p>{{ shelter.description }}</p>
                                        </div>
                                        <div class="card-action">
                                            <a href="{{ path('app_shelter_show', { 'id': shelter.id }) }}">{{ 'label.details' | trans({}, 'base') }}</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}