<!DOCTYPE html>
<html id="login">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="valign-wrapper row">
    <div class="col card s12 m6 pull-m3 l4 pull-l4">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <span class="card-title">{% block title %}{% endblock title %}</span>
                </div>
            </div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
</div>


<!--Import jQuery before materialize.js-->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.1/js/materialize.min.js"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>