{% extends "::base.html.twig" %}

{% block title %}{{ 'label.discover' | trans({}, 'base') }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <h5>{{ 'label.meet_animals' | trans({}, 'animal') }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col hide-on-small-and-down m3">
            {{ form_start(form) }}
            <p>{{ 'label.filters'|trans({}, 'base') }}</p>
            <div class="input-field">
                {{ form_errors(form.animalType) }}
                {{ form_widget(form.animalType) }}
                {{ form_label(form.animalType) }}
            </div>
            <div class="input-field">
                <p>{{ 'label.general_info'|trans({}, 'animal') }}</p>
                <p>
                    <label>
                        {{ form_widget(form.youngChildren, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.young_children' | trans({}, 'animal') }}</span>
                    </label>
                </p>
                <p>
                    <label>
                        {{ form_widget(form.children, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.children' | trans({}, 'animal') }}</span>
                    </label>
                </p>
                <p>
                    <label>
                        {{ form_widget(form.dogs, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.dogs' | trans({}, 'animal') }}</span>
                    </label>
                </p>
                <p>
                    <label>
                        {{ form_widget(form.cats, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.cats' | trans({}, 'animal') }}</span>
                    </label>
                </p>
            </div>
            <div class="input-field">
                <p>{{ 'label.medical_info' | trans({}, 'animal') }}</p>
                <p>
                    <label>
                        {{ form_widget(form.chipped, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.chipped' | trans({}, 'animal') }}</span>
                    </label>
                </p>
                <p>
                    <label>
                        {{ form_widget(form.vaccinated, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.vaccinated' | trans({}, 'animal') }}</span>
                    </label>
                </p>
                <p>
                    <label>
                        {{ form_widget(form.sterilized, {'attr': {'class': 'filled-in'}}) }}
                        <span>{{ 'label.sterilized' | trans({}, 'animal') }}</span>
                    </label>
                </p>
            </div>
            {% if(app.request.query is not empty) %}
                <p><a href="{{ path('app_animal_index') }}">{{ 'label.clear_filters' | trans({}, 'base') }}</a></p>
            {% endif %}
            <button class="btn waves-effect waves-light" type="submit"
                    name="action">{{ 'action.applyFilter'|trans({}, 'base') }}
            </button>
            {{ form_end(form) }}
        </div>
        <div class="col s12 m9">
            <div class="row">
                {% for animal in animals %}
                    <div class="col s12 m4">
                        <div class="card medium">
                            <div class="card-image">
                                <img src="{{ asset('uploads/images/' ~ animal.image) }}">
                                <span class="card-title">{{ animal.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>{{ animal.info|truncate(130, true)|raw }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{{ path('app_animal_show', {'id': animal.id}) }}">{{ 'label.details' | trans({}, 'animal') }}</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {{ 'label.no_animals_found' | trans({}, 'animal') }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s9 offset-s3 center">
            <ul class="pagination">
                {{ knp_pagination_render(animals) }}
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
