{% extends "::base.html.twig" %}

{% block title %}{{ project_name }} - {{ animal.name }}{% endblock %}

{% block body %}
    <h3>{{ animal.name }}</h3>
    <div class="row">
        <div class="col s12 m7">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{ asset('uploads/images/' ~ animal.image) }}"/>
                    <span class="card-title">{{ animal.name }}</span>
                </div>
                <div class="card-content">
                    <h5>{{ 'label.general_info' | trans({}, 'animal') }}</h5>
                    <p>{{ 'label.sex'|trans({}, 'animal') }}: {{ animal.sex }}</p>
                    <p>{{ 'label.age'|trans({}, 'animal') }}: {{ animal.birthdate | date('d F Y') }}
                        ({{ animal.birthdate | ago }})</p>
                    <p>{{ 'label.animal_type'|trans({}, 'animal') }}: {{ animal.animalType }}</p>
                    <p>{{ 'label.animal_breed'|trans({}, 'animal') }}: {{ animal.animalBreed }} </p>
                    <p>{{ 'label.size'|trans({}, 'animal') }}: {{ animal.size }}</p>
                    <p>{{ 'label.weight'|trans({}, 'animal') }}: {{ animal.weight }}</p>
                    <p>{{ 'label.created_at'|trans({}, 'base') }}: {{ animal.createdAt| ago }}</p>
                    <h5>{{ 'label.compatibility'| trans({}, 'animal') }}</h5>
                    <div class="row">
                        <div class="col s12 m6">
                            <!-- TODO: Optimize if/else structure -->
                            <p>
                                {% if animal.youngChildren %}
                                    <i class="material-icons">child_friendly</i>{{ 'label.young_children' | trans({}, 'animal') }}
                                {% else %}
                                    <del>{{ 'label.young_children' | trans({}, 'animal') }}</del>
                                {% endif %}
                            </p>
                            <p>
                                {% if animal.children %}
                                    <i class="material-icons">child_care</i>{{ 'label.children' | trans({}, 'animal') }}
                                {% else %}
                                    <del>{{ 'label.children' | trans({}, 'animal') }}</del>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col s12 m6">
                            <p>
                                {% if animal.cats %}
                                    <i class="material-icons">pets</i>{{ 'label.cats' | trans({}, 'animal') }}
                                {% else %}
                                    <del>{{ 'label.cats' | trans({}, 'animal') }}</del>
                                {% endif %}
                            </p>
                            <p>
                                {% if animal.dogs %}
                                    <i class="material-icons">pets</i>{{ 'label.dogs' | trans({}, 'animal') }}
                                {% else %}
                                    <del>{{ 'label.dogs' | trans({}, 'animal') }}</del>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <h5>{{ 'label.medical_info'|trans({}, 'animal') }}</h5>
                    <p>
                        {% if(animal.chipped) %}
                            {{ 'label.chipped'|trans({}, 'animal') }}
                        {% else %}
                            <del>{{ 'label.chipped'|trans({}, 'animal') }} </del>
                        {% endif %}
                    </p>
                    <p>
                        {% if(animal.vaccinated) %}
                            {{ 'label.vaccinated'|trans({}, 'animal') }}
                        {% else %}
                            <del>{{ 'label.vaccinated'|trans({}, 'animal') }} </del>
                        {% endif %}</p>
                    <p>
                        {% if(animal.sterilized) %}
                            {{ 'label.sterilized'|trans({}, 'animal') }}
                        {% else %}
                            <del>{{ 'label.sterilized'|trans({}, 'animal') }} </del>
                        {% endif %}</p>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card-panel">
                <h5>{{ animal.shelter.name }}</h5>
                <p>{{ animal.shelter.description }}</p>
                <div id="map"></div>
                <p>
                    {% for day,set in animal.shelter.openingHours %}
                <ul>
                    {{ ('dow.' ~ day) | trans({}, 'shelter') }}
                    {% if (set | length) %}
                        {% for hours in set %}
                            <li>{{ hours }}</li>
                        {% endfor %}
                    {% else %}
                        <li>{{ 'label.closed' | trans({}, 'shelter') }}</li>
                    {% endif %}
                </ul>
                {% endfor %}

                <a href="{{ path('app_shelter_show', {'id': animal.shelter.id}) }}" class="waves-effect waves-light btn">{{ 'label.visit_shelter' | trans({}, 'shelter') }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/main.js') }}"></script>
    <script>
        function initMap() {
            var loc = {lat: {{ animal.shelter.location.lat }}, lng: {{ animal.shelter.location.lon }}};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: loc,
                draggable: false,
            });
            var marker = new google.maps.Marker({
                position: loc,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ googleAPI }}&callback=initMap">
    </script>
{% endblock %}